*{
    margin: 0 ;
}
h1{
color: rgb(0, 0, 0);
position: relative;
left: 3%;
top: 10%;
}
.texto{
    color: rgb(247, 224, 16);
}
header{
    background-color: rgb(234, 255, 0);
height: 100px;
/* background-image: url(../img/dukiSentado.jfif);
background-position: center;
background-size: contain */
display: flex 100rem ;
gap: 4rem ;

}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
ul{
    display: flex;
    gap: 2rem ;
}